*{
    font-family:cursive;
}
h1{
    font-size: 3vh;
}
body{
    background-image: url(./images/background.svg);
    background-attachment: fixed;
}
div div div{
    padding-right: 2%;
    padding-left: 2%;
}
.box:hover{
    color: white;
    transition: color 0.2s linear;
}
div{
    border: 4px solid rgb(60, 18, 7);
    border-radius: 30px;
    font-size: 1vw;
    background-color: rgb(255, 94, 0);
    color: rgb(60, 18, 7);
}
input{
    font-size: 1vw;
    border: 4px solid rgb(60, 18, 7);;
    border-radius: 30px;
}
div input[type="text"]{
    flex-grow: 2;
}
/* header */
header{
    position:static;
}
.adaptiveHeader{
    display: none;
}
.box{
    margin-left: 1%;
    margin-right: 1%;
    width: fit-content;
    height: fit-content;
    padding-left: 1%;
    padding-right: 1%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    background: rgb(255,203,149);
    background: linear-gradient(90deg, rgba(255,203,149,1) 0%, rgba(227,31,0,1) 100%);
}
.endContainer{
    justify-content: end;
}
.logo{
    height: 6%;
    width: 6%;
}
.containerCurrency{
    position: relative;
    display: inline-block;
    z-index: 1;
}
.button{
    border: none;
    background-color: local;
}
.button:hover{
    color: white;
    transition: color 0.2s linear;
}
.option{
    display: none;
    position: absolute;
    border-radius: 20px;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}
.option:hover{
    color:rgb(60, 18, 7);
}
.containerCurrency:hover .option{
    display: block;
}
.option span:hover {
    color: white;
    transition: color, 0.2s linear;
}
.option span{
    display: block;
}
.burger{
    display: none;
}

/*main*/

main{
    margin-top: 1%;
    margin-bottom: 1%;
}
main div {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
main div img{
    margin: 5% 1% 1% 1%;
    width: 95%;
    height: 100%;
    background-color: white;
}
main div figure{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    display: block;
    border: 4px solid rgb(60, 18, 7);
    height: 30%;
    width: 20%;
    margin: 1% 2% 1% 2%;
    background-color: white;
}
main div[class="box"]{
    padding: 1% 1% 1% 1%;
    background-color: rgb(255, 94, 0);
    margin-top: 1%;
    margin-bottom: 1%;
}
main div[class="box"]:hover{
    color: white;
    transition: color, 0.2s linear;
}
.center{
    display: flex;
    flex-direction: inherit;
    align-items: center;
}
form{
    border: 4px solid rgb(60, 18, 7);
    border-radius: 30px;
    margin: 7% 25% 5% 25%;
    background-color: white;
}
.login{
    margin: 7% 25% 15% 25%;
}
.register{
    display: inline;
    margin-top: 0%;
}
.formElement{
    display: block;
    border: none;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 30%;
    background-color: hsla(0, 0%, 100%, 0);
    text-align: end;
}
.send{
    margin-left: 65%;
    margin-right: 16%;
    padding: 1% 1% 1% 1%;
    margin-bottom: 1%;
    background-color: rgb(255, 94, 0);
    color: rgb(60, 18, 7);
}
.send:hover{
    color: white;
    transition: color, 0.2s linear;
}
form h1{
    text-align: center;
}
.buttons {
    margin-bottom: 2%;
}
a{
    color:rgb(60, 18, 7)
}
a:visited{
    color: rgb(60, 18, 7);
}
a:link{
    text-decoration: none;
}
div[class="box"] a:hover{
    color: white;
    transition: color 0.2s linear;
}
div[class="formElement"] a{
    padding-bottom: 2%;
    display: block;
    padding-right: 1%;
    margin-left: 57%;
}
main a{
    margin-left: 2%;
    text-align: center;
}
.buttons:hover{
    border: 4px solid rgb(60, 18, 7);;
    border-radius: 30px;
    background-color: rgb(60, 18, 7);
    color: white;
    transition: all 0.2s linear;
    padding-bottom: 0%;
}
.referense{
    margin-left: 35%;
}
.product{
    width: 30%;
    height: 30%;
}
.productContainer{
    display: flex;
    flex-wrap: nowrap;
}
.discription{
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
    flex:auto;
    border: none;
}
.discription h1{
    text-align: center;
}
.linkProduct{
    margin-left: 0%;
}
.kostyl{
    display: none;
    }
.photoLink{
    position: absolute;
    margin-top: 2%;
}
.subDiscription{
    display: flex;
    border: none;
    align-items: start;
    justify-content: end;
}
.categories{
    display: block;
    margin-top: 2.5%;
}
.mainDiscription{
    display: flex;
    flex-direction: column;
    border: none;
}
.mainDiscription p{
    text-align: start;
    text-indent: 1%;
}
.mainDiscription p span{
    font-weight: 1000;
}
.delivery{
    display: flex;
    flex-direction: column;
    border: none;
}
.delivery div{
    display: block;
    border: none;
    margin-top: 5%
}
.delivery div p{
    display: block;
}
.delivery div{
    border: 4px solid rgb(60, 18, 7);;
    border-radius: 30px;
}
.blurText{
    color:rgb(149, 118, 110);
}
.countAndPrice{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
    width: fit-content;
    height: fit-content;
    padding-right: 2%;
    padding-left: 2%;
}
.katalog{
    display: flex;
    flex-direction: column;
}
.categories{
    display: flex;
    flex-direction: row;
    background-color: local;
    border: none;
    flex-wrap: wrap;
}
.categories img{
    border: none;
    background-color: white;
}
.katalog h1{
    text-align: center;
}
.katalog .buttons{
    position: absolute;
    margin-top: 2%;
}
.electronics{
    position: absolute;
}


/*footer*/

.footer{
    height: 9vh;
    border: none;
    border-radius: 0;
    border-top: 4px solid rgb(60, 18, 7);
    border-bottom: 4px solid rgb(60, 18, 7);
    background-color: white;
}
p{
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
}

@keyframes x12 {
    100%{transform: scale(1.2);};
}
@keyframes x1 {
    0%{transform: scale(1.2);}
    100%{transform: scale(1);};
}
@keyframes poduct {
    100%{transform: translateY(-10px);}
}
@keyframes poduct_back {
    0%{transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}

/* Адаптив */

@media (max-width: 769px) {
*{
    font-size: 2vh;
}
div{
    border: 3px solid rgb(60, 18, 7);
    border-radius: 30px;
}
.button{
    font-size: 2vh;
}
main div figure{
    border: 3px solid rgb(60, 18, 7);
    border-radius: 30px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 3%;
    margin-right: 3%;
}
figcaption p{
    overflow-x: scroll;
    height: 3vh;
}
input{
    font-size: 2vh;
    border: 3px solid rgb(60, 18, 7);;
    border-radius: 30px;
}
.countAndPrice{
    font-size: 2vh;
}
.footer{
    height: 9vh;
    border-top: 3px solid rgb(60, 18, 7);
    border-bottom: 3px solid rgb(60, 18, 7);
    background-color: white;
    margin-bottom: 0%;
}
form{
    border: 3px solid rgb(60, 18, 7);
    border-radius: 30px;
    margin: 7% 15% 5% 15%;
    background-color: white;
}
.formElement{
    margin-right:25%;
    margin-left:5%;
    text-align: end;
}
.login{
    margin: 7% 15% 5% 15%;
}
input[placeholder="Поиск товаров..."]{
    width: 6vw;
}
.send{
    font-size: 2vh;
    width: 12vw;
    margin-left: 50%;
}
.referense{
    margin-left: 25%;
}
}
@media (max-width: 426px) {
    *{
        font-size: 3vh;
    }
    main div img{
        margin: 5% 1% 1% 1%;
        width: 100%;
        height: 100%;
        background-color: white;
    }
    div{
        border: 3px solid rgb(60, 18, 7);
        border-radius: 30px;
    }
    .button{
        font-size: 3vh;
    }
    main div figure{
        border: 3px solid rgb(60, 18, 7);
        border-radius: 30px;
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 5%;
        margin-right: 20%;
        width: 85%;
    }
    figcaption p{
        overflow-x: scroll;
        height: 4vh;
    }
    input{
        font-size: 3vh;
        border: 3px solid rgb(60, 18, 7);;
        border-radius: 30px;
    }
    .countAndPrice{
        font-size: 3vh;
    }
    .footer{
        height: 13vh;
        border-top: 3px solid rgb(60, 18, 7);
        border-bottom: 3px solid rgb(60, 18, 7);
        background-color: white;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 3px solid rgb(60, 18, 7);
        border-radius: 30px;
        margin: 7% 10% 5% 10%;
        background-color: white;
    }
    .formElement{
        margin-right:3%;
        margin-left:5;
        text-align: center;
    }
    .send{
        font-size: 3vh;
        width: fit-content;
        margin-left: 35%;
    }
    .buttons{
        width: 50vw;
        margin-right: 5%;
        margin-left: 15%;
    }
    .categories figure img{
        width: 80vw;
    }
    .login{
        margin: 7% 10% 40% 10%;
    }
    input[placeholder="Поиск товаров..."]{
        width: 30vw;
    }
    .adaptiveMain{
        display: flex;
        flex-direction: column;
    }
    .categories{
        display: flex;
        flex-direction: column;
    }
    .container{
        display: none;
    }
    .adaptiveHeader{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        background: rgb(255,203,149);
        background: linear-gradient(90deg, rgba(255,203,149,1) 0%, rgba(227,31,0,1) 100%);
    }
    .burger{
        display: inline;
        padding: 1% 1% 1% 1%;
        font-size: 4vh;
    }
    .box{
        margin: 1% 1% 1% 1%;
        font-size: 3vh;
    }
    .option{
        background: rgb(255,203,149);
        background: linear-gradient(90deg, rgba(255,203,149,1) 0%, rgba(227,31,0,1) 100%);
    }
    .productContainer{
        flex-direction: column;
    }
    .product{
        width: 90%;
    }
    .subDiscription{
        flex-direction: column;
        align-items: center;
    }
    a[href="./Home.html"]{
        display: none;
    }
    .back{
        display: none;
    }
    .photoLink{
        display: none;
    }
    .katalog{
        overflow: hidden;
    }
    }
@media (max-width: 376px){
    *{font-size: 2vh;}
    .button{
        font-size: 2vh;
    }
    figcaption p{
        overflow-x: scroll;
        height: 3vh;
    }
    input{
        font-size: 2vh;
    }
    .countAndPrice{
        font-size: 2vh;
    }
    .send{
        font-size: 2vh;
    }
    .burger{
        font-size: 4vh;
    }
    .box{
        margin: 0% 1% 0% 1%;
        font-size: 3vh;
    }
    a{
        padding: 0% 1% 0% 1%;
        margin: 0% 1% 0% 1%;
    }
    .register{
        width: 65vw;
    }
}